.Fertilizer{
    display: flex;
    justify-content: center;
    align-items: center;
   background-image: url('https://wallpapercave.com/wp/wp3115830.jpg');
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   padding:10px;
   flex-direction: column;
}

.rpage1{
   flex-direction: column;
   background-color: white; 
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 10px;
   margin-top: 15px;
   background: rgba(240, 239, 239, 0.705);
   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
   backdrop-filter: blur(9px);
}
.rpage1 > form{
    padding:20px;
    display: flex;
    flex-direction: column;
    width:500px;
    margin-right: 30px;
    margin-left: 20px;
}
.fla1{
    display: flex;
    outline: none;
    width: 250px;
    margin-top: 5px;
    height: 31px;
    border-radius: 3px;
    border: none;
    border-bottom: 1px solid #a6a6a6;
    transition: ease-in 0.2s;
    padding-left: 10px;
    border-radius: 10px;
}
.fla1:focus{
    border-bottom: 2px solid #1a73e8;
  box-shadow: 0 0 3px 0 dodgerblue;
}
.butt1{
    padding: 10px 20px !important;
    margin-top: 25px !important;
    letter-spacing: 2px !important;
    border-radius: 15px !important;
    
}
.in1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.m1{
    text-align: center;
    margin-bottom: 15px;
    color: rgb(106, 74, 223);
}
@media screen and (max-width: 600px) {
   .rpage1 >form {
      width:fit-content;
      margin: 0 20px;
    }
    .fla1{
        width: 150px;
    }
  }
.form__form_group{
    display: flex;
    flex-direction: column;
}
.spa{
    display: flex;
    align-items: center;
    justify-content: space-between;
}