 .Serv {
    display : flex;
    align-items : center;
    justify-content : center;
    background-color:whitesmoke;
    height : 90vh;
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
  }
  
  .container {
    position : relative;
    //width : 1100px;
    display : flex;
    align-items : center;
    justify-content : center;
    flex-wrap: wrap;
    padding : 30px;  
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  .container .card {
    position: relative;
    max-width : 400px;
    height : 200px;  
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    //box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    transition : 0.3s ease-in-out;
    border-radius : 15px;
  }
  .container .card:hover {
    height : 360px;
    cursor: pointer;    
  }
  
  
  .container .card .image {
    position : relative;
    top : -40%;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
  }
  
  .container .card .image img {
    max-width : 100%;
  }
  
  .container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center; 
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
      
  }
  
  .container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
    
  }
  .cbu{
    border: 2px solid rgb(57, 196, 57) !important;
    color: #3aa760 !important;
    padding: 10px 30px !important;
    width: 30% !important;
  }
  .fbu{
    border: 2px solid rgb(31, 129, 228) !important;
    color:dodgerblue!important;
    padding: 10px 30px !important;
    width: 30% !important;
    margin-top: 15px !important;
  }
  @media screen and (max-width: 600px) {
    .container .card {
      height: 146px;
    }
    .container .card:hover {
      height : 270px;
   
    }
    .Serv{
      height: 100vh;
    }
   }